<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>About Us</title>
</head>

<body>
    <header>
        <nav class="header-nav">
            <div class="header-nav-logo">
                <img src="images/logo.jpg" alt="Logo" />
            </div>
            <ul class="header-nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Reserve a Hotel</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Join</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-about-us">
        <article class="about-us-main-article">
            <h1>About Us</h1>
            <h3>Discover Meeting Point Hotels. World-class hospitality</h3>
            <p>//Our brand name\\ offer affordable holidays with a wide array of lodging options at individual
                hotels managed by a world-class hospitality company. We welcome couples, families and groups to enjoy a
                laid-back ambiance and resort-style accommodation in comfortable seaside holiday settings just moments
                from the beach in Turkey and the Canary Islands. Whether your ideal holiday setting is on the shores of
                the Mediterranean or a getaway to the warm Atlantic shores of Canary Island, //Our brand name\\
                are finely crafted to serve as your gateway to unforgettable experiences. </p>
        </article>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>