<main class="main-about-us">
    <article class="about-us-main-article">
        <h1>About Us</h1>
        <h3>Discover Meeting Point Hotels. World-class hospitality</h3>
        <p>//Our brand name\\ offer affordable holidays with a wide array of lodging options at individual
            hotels managed by a world-class hospitality company. We welcome couples, families and groups to enjoy a
            laid-back ambiance and resort-style accommodation in comfortable seaside holiday settings just moments
            from the beach in Turkey and the Canary Islands. Whether your ideal holiday setting is on the shores of
            the Mediterranean or a getaway to the warm Atlantic shores of Canary Island, //Our brand name\\
            are finely crafted to serve as your gateway to unforgettable experiences. </p>
    </article>
</main>