<main class="main-about-us">
    <article class="about-us-main-article">
        <h1>About Us</h1>
        <h3>Discover Meeting Point Hotels. World-class hospitality</h3>
        <p>F.O.U.R offer affordable holidays with a wide array of lodging options at individual
            hotels managed by a world-class hospitality company. We welcome couples, families and groups to enjoy a
            laid-back ambiance and resort-style accommodation in comfortable seaside holiday settings just moments
            from the beach in Turkey and the Canary Islands. Whether your ideal holiday setting is on the shores of
            the Mediterranean or a getaway to the warm Atlantic shores of Canary Island, F.O.U.R
            are finely crafted to serve as your gateway to unforgettable experiences. </p>
    </article>

    <section class="main-about-us-section">
        <div class="main-about-us-section-div">
            <h1>About the Company</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dicta nobis molestiae ipsa omnis.
                Dolor natus cum consectetur expedita quia et laboriosam distinctio, ipsum aut illum facilis
                dignissimos velit tenetur earum possimus? Odit non nihil dicta ullam maxime molestias, doloremque
                fuga. Ipsam ipsum ducimus veritatis nihil harum non vitae consequuntur sapiente, quaerat ex ut!.
                Quis, magni soluta.</p>
        </div>
        <div class="main-about-us-section-div">
            <img src="/images/logo.jpg" alt="Company Logo">
        </div>
    </section>

    <div class="main-about-us-div">
        <h1>OUR MISSION</h1>
        <p>We strongly believe that by increasing the awareness of unique cultural, ethnic and geographical
            experiences available around the globe, we can help shape a more connected world while providing once in
            a lifetime vacation experiences at affordable prices.</p>
    </div>

    <section class="main-about-section">
        <h1 class="main-about-section-title">Meet our Founders</h1>

        <div class="main-about-section-container">
            <div class="main-about-section-container-div">
                <div class="main-section-container-div-img">
                    <img src="/images/founder1.jpg" alt="Founder image">
                </div>
                <div class="main-section-div-info">
                    <h1>Boyan Iliev</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum et optio eos officiis
                        blanditiis
                        itaque consequuntur facilis, tempora, ex necessitatibus nisi asperiores modi doloremque,
                        veritatis facere unde. Quibusdam, aliquam explicabo.</p>
                </div>
            </div>

            <div class="main-about-section-container-div">
                <div class="main-section-container-div-img">
                    <img src="/images/founder2.jpg" alt="Founder image">
                </div>
                <div class="main-section-div-info">
                    <h1>Neri Mehmedova</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum et optio eos officiis
                        blanditiis
                        itaque consequuntur facilis, tempora, ex necessitatibus nisi asperiores modi doloremque,
                        veritatis facere unde. Quibusdam, aliquam explicabo.</p>
                </div>
            </div>

            <div class="main-about-section-container-div">
                <div class="main-section-container-div-img">
                    <img src="/images/founder3.jpg" alt="Founder image">
                </div>
                <div class="main-section-div-info">
                    <h1>Dobri Nedev</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum et optio eos officiis
                        blanditiis
                        itaque consequuntur facilis, tempora, ex necessitatibus nisi asperiores modi doloremque,
                        veritatis facere unde. Quibusdam, aliquam explicabo.</p>
                </div>
            </div>

            <div class="main-about-section-container-div">
                <div class="main-section-container-div-img">
                    <img src="/images/founder4.jpg" alt="Founder image">
                </div>
                <div class="main-section-div-info">
                    <h1>Orlin Petkov</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum et optio eos officiis
                        blanditiis
                        itaque consequuntur facilis, tempora, ex necessitatibus nisi asperiores modi doloremque,
                        veritatis facere unde. Quibusdam, aliquam explicabo.</p>
                </div>
            </div>
        </div>

    </section>
</main>