

    <main class="main-home">
        <!-- preloader -->
        <div id="preloader"></div>
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="./images/hotel.jpg" style="width:100%">
                <div class="fade-text">
                    <h1>Unlimited Luxury</h1>
                    <h2>for Mind, Body and Soul</h2>
                    <p>
                        Visit RoyalVillas resort to experience true relaxation from our spa services. We can meet even
                        the most
                        demanding expectations.
                    </p>
                </div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="./images/inside-pool.jpg" style="width:100%">
                <div class="fade-text">Caption Two</div>
            </div>

        

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="./images/francissco-pool-hotel.jpg" style="width:100%">
                <div class="fade-text">Caption Three</div>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <br>

        <section class="main-home-section">
            <article class="main-home-section-article section-article-one">
                <h1>A Few Words About Us</h1>
                <h3> Enjoying an expansive beach along the lively coast, F.O.U.R offers a completely different
                    experience.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, ducimus corporis
                    alias praesentium culpa libero, consectetur, porro reprehenderit quos aut iure
                    suscipit. Temporibus libero amet provident nesciunt quisquam, tempore nobis sint
                    illum nisi deleniti incidunt, eligendi odit cupiditate minima necessitatibus
                    pariatur ab possimus nihil ducimus, asperiores voluptates autem perferendis
                    ipsam!
                </p>
                <button type="button" class="main-home-section-article-btn">Learn more</button>
            </article>
            <article class="main-home-section-article section-article-two">

                <div class="main-home-section-article-div article-div-one">
                    <div class="main-home-section-article-div-icons">
                        <i class="fa-solid fa-key"></i>
                        <h1>Qualified Specialists</h1>
                        <p>We have many highly qualified specialists to help you relax and enjoy.</p>
                    </div>
                    <div class="main-home-section-article-div-icons">
                        <i class="fa-regular fa-star"></i>
                        <h1>Convenient Location</h1>
                        <p>RoyalVillas is located within a 5-minute walk to a local beach.</p>
                    </div>
                </div>

                <div class="main-home-section-article-div article-div-two">
                    <div class="main-home-section-article-div-icons">
                        <i class="fa-solid fa-utensils"></i>
                        <h1>Delivery of Goods</h1>
                        <p>If you want to order and deliver spa products we use, just give us a call.</p>
                    </div>
                    <div class="main-home-section-article-div-icons">
                        <i class="fa-solid fa-wallet"></i>
                        <h1>Any Payment Methods</h1>
                        <p>We accept both cash and credit cards (Visa, MasterCard, American Express).</p>
                    </div>
                </div>

            </article>
        </section>
        <h2 class="subheading">Top Accomodations</h2>
        <ul class="responsive-tabs-container-catalogHome">
            <li class="responsive-tab-catalogHome">
                <button class="responsive-tab-button">Popular Accomodations</button>
            </li>
            <li class="responsive-tab-catalogHome">
                <button class="responsive-tab-button">Most Liked Accomodations</button>
            </li>
            <li class="responsive-tab-catalogHome">
                <button class="responsive-tab-button">Newest Accomodations</button>
            </li>
        </ul>


     

        <section class="catalogHome">
            {{#if result}}
            {{#each result}}

            {{>homeDestinationCard}}
     
            {{/each}}
            {{else}}
            {{>homeDestinationCard-hc}}
            {{/if}}
        </section>
        
        <section class="home-section-title">
            <h2 class="counter-h2">We posit that good ideas can come from anywhere, but ideas without rest is nothing!
            </h2>
            <p class="counter-p">We believe in a good Experience.</p>
        </section>


        <section class="counter-container">

            <div class="counter-single-cell">
                <div class="counter-cell">
                    <p class="counter-description">Clients</p>
                    <h3 id="clients-counter" class="counter-number">17</h3>
                </div>
            </div>

            <div class="counter-single-cell">

                <div class="counter-cell">
                    <p class="counter-description">Company Experience</p>
                    <h3 id="XP-counter" class="counter-number">17</h3>
                </div>
            </div>

            <div class="counter-single-cell">
                <div class="counter-cell">
                    <p class="counter-description">Booked Hotels</p>
                    <h3 id="hotels-counter" class="counter-number">17</h3>
                </div>
            </div>

            <div class="counter-single-cell">
                <div class="counter-cell">
                    <p class="counter-description">Rating</p>
                    <h3 id="rating-counter" class="counter-number">17</h3>
                </div>
            </div>

        </section>
    </main>


    {{!-- <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <p class="footer-container-row-p">
                © 2023 All Rights Reserved
            </p>
        </div>
    </footer>
    <script src="./assets/preloader.js"></script>
    <script src="./assets/slideShow.js"></script>
    <script src="./assets/counter.js"></script>
</body>

</html> --}}