

      <!-- In case of error, you should display div with class "error-box" -->
        {{!-- 
        <!-- <div class="error-box">
            
            <p>error message</p>
            
        </div> -->
         --}}
       {{#if error}}
          <div class="error-box">
            
            <p>{{error}}</p>
            
        </div>
        {{/if}}
    <main class="main-sign-in">
        <div class="main-sign-in-container">
            <div class="main-sign-in-container-div main-sign-in-card-one">


                {{#if message}}
                <h2>{{message}}</h2>
                {{else}}
                <h1>Sign in</h1>
                {{/if}}

                <form action="" method="POST" class="main-sign-in-container-div-form">
                    <div class="main-sign-in-container-div-form-input">
                        <input type="text" placeholder="USERNAME" name="username" required>
                    </div>

                    <div class="main-sign-in-container-div-form-input">
                        <input type="password" placeholder="PASSWORD" name="password" required>
                    </div>

                    <button type="submit" class="main-sign-in-container-div-btn">Let's go</button>
                </form>
            </div>
            <div class="main-sign-in-container-div main-sign-in-card-two">
                <h1>Welcome back!</h1>
            </div>
        </div>

    </main>

   
