 <div class="catalogHome-cards-container">
                <article class="product">
                    <div class="rating rating-5"></div>
                    <div class="product-body"><a href="product-page.html" class="product-image"><img
                                src="./images/homeCatalogHotelBrazil.png" alt="serum" width="197" height="218"></a>
                        <div class="product-header"><a href="product-page.html" class="link link-abbey">Brazil
                            </a></div>
                        <div class="product-price">
                         
                            
                            <p class="price price-md">$279
                            </p>
                        </div>
                        <div class="product-footer"><a href="cart.html" class="view-btn bold-text">Book</a></div>
                    </div>
                </article>
            </div>

             <div class="catalogHome-cards-container">
                <article class="product">
                    <div class="rating rating-5"></div>
                    <div class="product-body"><a href="product-page.html" class="product-image"><img
                                src="./images/homeCatalogHotelBrazil.png" alt="serum" width="197" height="218"></a>
                        <div class="product-header"><a href="product-page.html" class="link link-abbey">Dominican Republic
                            </a></div>
                        <div class="product-price">
                         
                            
                            <p class="price price-md">$339
                            </p>
                        </div>
                        <div class="product-footer"><a href="cart.html" class="view-btn bold-text">Book</a></div>
                    </div>
                </article>
            </div>

             <div class="catalogHome-cards-container">
                <article class="product">
                    <div class="rating rating-5"></div>
                    <div class="product-body"><a href="product-page.html" class="product-image"><img
                                src="./images/homeCatalogHotelBrazil.png" alt="serum" width="197" height="218"></a>
                        <div class="product-header"><a href="product-page.html" class="link link-abbey">Colombia
                            </a></div>
                        <div class="product-price">
                         
                            
                            <p class="price price-md">$229
                            </p>
                        </div>
                        <div class="product-footer"><a href="cart.html" class="view-btn bold-text">Book</a></div>
                    </div>
                </article>
            </div>