 <div class="catalogHome-cards-container">
                <article class="product">
                    <div class="rating rating-5"></div>
                    <div class="product-body"><a href="product-page.html" class="product-image"><img
                                src="{{this.imageUrl}}" alt="serum" width="197" height="218"></a>
                        <div class="product-header"><a href="product-page.html" class="link link-abbey">{{this.name}}
                            </a></div>
                        <div class="product-price">
                            {{!-- <h1>{{#each result}}</h1>
                            {{this[0].name}}
                            {{/each}} --}}
                            
                            <p class="price price-md">${{this.price}}
                            </p>
                        </div>
                        <div class="product-footer"><a href="cart.html" class="view-btn bold-text">Book</a></div>
                    </div>
                </article>
            </div>