@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");

body,
html {
  height: 100vh;
  margin: 0;
  font-family: "Catamaran", sans-serif;
  background-color: rgb(221, 221, 221);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Catamaran", sans-serif;
}
ul {
  list-style: none;
}

header {
  background: #fff;
}
.header-nav {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}

.header-nav-logo {
  width: 100px;
}

.header-nav-logo img {
  max-width: 100%;
  max-height: 100%;
}

.header-nav-list {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.header-nav-list li {
  margin: 0 20px;
  display: inline-block;
}

.header-nav-list li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgba(255, 87, 87);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  position: relative;
  padding: 20px 0;
}

.header-nav-list li a,
.header-nav-list li a:after,
.header-nav-list li a:before {
  transition: all 0.5s;
}

.header-nav-list li a:hover {
  color: #555;
}

.header-nav-list li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #333;
  height: 1px;
}
.header-nav-list li a:hover:after {
  width: 100%;
}

main {
  height: 85vh;
}

/* About Page */
.about-us-main-article {
  width: 100%;
  height: 100%;
  background: url("/src/images/aboutUs.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 0px 1200px rgba(0, 0, 0, 0.803) inset;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us-main-article h1 {
  font-size: 65px;
  text-shadow: 2px 1px #ffffff;
}
.about-us-main-article h3 {
  text-transform: uppercase;
  font-style: italic;
  color: rgba(255, 87, 87);
  text-shadow: 2px 1px #ffffff;
  margin: 10px 0 30px 0;
}

.about-us-main-article p {
  line-height: 27px;
  max-width: 1200px;
  font-size: 20px;
  text-shadow: 2px 2px 15px #000000;
}

/* Sign In Page */

.main-sign-in,
.main-join {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sign-in-container,
.main-join-container {
  width: 50vw;
  height: 60vh;
  display: flex;
}

.main-sign-in-card-one {
  border-radius: 15px 0px 0px 15px;
  padding: 60px 30px;
  width: 40%;
  position: relative;
}

.main-sign-in-card-one,
.main-join-card-two {
  background-color: #ffffff;
  height: 100%;
}

.main-sign-in-card-one h1,
.main-join-card-two h1 {
  text-transform: uppercase;
  color: #24262b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sign-in-container-div-form,
.main-join-container-div-form {
  text-align: center;
}

.main-sign-in-container-div-form-input,
.main-join-container-div-form-input {
  margin: 30px auto;
}

.main-sign-in-container-div-form input,
.main-join-container-div-form input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #9f9f9f;
  margin: 0 auto;
}

.main-sign-in-container-div-btn {
  bottom: 100px;
  left: 25%;
}

.main-sign-in-container-div-btn,
.main-join-container-div-btn {
  padding: 10px 35px;
  background-color: rgba(255, 87, 87);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  position: absolute;
}

.main-sign-in-container-div-btn:hover,
.main-join-container-div-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 87, 87);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.425);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}

.main-sign-in-card-two {
  width: 60%;
  height: 100%;
  background: url("/src/images/forum-img.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 0px 1200px rgba(255, 87, 87, 0.603) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
}

.main-sign-in-card-two h1 {
  color: #fff;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

/* Join Page */

.main-join-card-one {
  width: 40%;
  background: url("/src/images/join-img.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 0px 1200px rgba(255, 87, 87, 0.603) inset;
  border-radius: 15px 0 0 15px;
}

.main-join-card-two {
  padding: 20px;
  width: 60%;
  border-radius: 0 15px 15px 0;
  position: relative;
}

.main-join-card-two h1 {
  font-size: 28px;
}

.main-join-card-two p {
  color: rgb(80, 80, 80);
  text-align: center;
}

.main-join-container-div-btn {
  position: absolute;
  bottom: 10%;
  left: 35%;
}

.main-join-container-div-icons {
  text-align: center;
}
.main-join-container-div-icons i {
  font-size: 30px;
  margin: 20px;
  color: rgba(255, 87, 87);
  transition: all 0.3s ease 0s;
}

.main-join-container-div-icons i:hover {
  transform: translateY(-7px);
}

/* Home page */

.home {
  height: 1000vh;
}

* {
  box-sizing: border-box
}


.slideshow-container {
  width: 667;
  height: 271;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 230px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

h2 {

  position: relative;
  text-align: center;
}

.subheading {
  font: 1em Monospace;
  text-align: center;

}

.aboutUsHome {
  background: #b6a779;
  fill: #b6a779;
}

.aboutUsHome-outer-shell {
  width: 100%;
  max-width: 2560px;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

.aboutUsHome-inner-shell {

  display: flex;

  flex: 0 1 auto;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;

}

.aboutUsHome-text-outer-shell {

  display: flex;

  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  padding-left: 15px;


}

.aboutUsHome-text-inner-shell {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
}

.aboutUsHome-range {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.aboutUsHome-red-cell {
  padding-left: 0;
  padding-right: 0;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.h6-subheading {
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;

  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.44;
  font: 1em Monospace;
  font-style: italic;
  margin-top: 6px;
}



.offset-space {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

.inset-space {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

.h5 {

  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
}

.offset-space-p {
  margin-top: 20px;
}

p {
  margin: 0;
}

.aboutUsHome-btn {

  color: #45484d;
  background-color: #fff;
  border-color: #fff;

  font-size: 14px;
  margin-top: 30px;


}

.aboutUsHome-btn {
  padding-top: 16px;
  padding-bottom: 14px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .04em;
  border-radius: 35px;
  border: 2px solid;
  transition: .3s ease-out;
  background-color: #f36561;
  border-color: #f36561;
  outline: none !important;
}

.aboutUsHome-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 15px 37px;
  user-select: none;
  color: #fff;


}

.aboutUsHome-gray-cell {


  flex-basis: 50%;
  max-width: 50%;


  flex-basis: 50%;
  max-width: 50%;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;

  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;

}

.aboutUsHome-gray-wrapper {
  background: #322c36;
  fill: #322c36;
  z-index: 1;
  position: relative;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  /* display: -webkit-flex; */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* -webkit-align-items: stretch; */
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;



}

.aboutUsHome-gray-wrapper::before {




  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 120vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: inherit;
  z-index: -1;
  box-sizing: border-box;
}

.aboutUsHome-gray-outer-shell {



  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;


  flex-direction: row;
  -webkit-flex-wrap: wrap;

  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;

  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.aboutUsHome-gray-inner-shell {
  background: #322c36;
  fill: #322c36;
  color: #c8c8c8;

}

.section-60 {
  padding-top: 60px;
  padding-bottom: 60px;

}

.aboutUsHome-gray-range {

  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;


  flex-direction: row;

  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;


}

.aboutUsHome-gray-cell {





  flex: 0 0 auto;


  flex-basis: 100%;
  max-width: 100%;

}

.box-icon {

  padding: 0 8px;
  display: block;

}

.icon {
  color: #fff;
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
  display: inline-block;
  text-align: center;
  -webkit-box-sizing: border-box;


}

.icon::before {
  content: "\e021";
  font-family: 'linecons';
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.box-icon-header {
  margin-top: 27px;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: .33s all ease-out;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Preloader it can be used for every page*/

#preloader {
  background: #ffffff url(./images/Preloader.gif) no-repeat center center;
  background-size: 40%;
  height: 98vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: 0.5s all linear
}


/* footer */

.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer-container-row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-container-row-p {
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}
