@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");

body,
html {
  height: 100vh;
  margin: 0;
  font-family: "Catamaran", sans-serif;
  background-color: rgb(221, 221, 221);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Catamaran", sans-serif;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

h2 {
  position: relative;
  text-align: center;
}

header {
  background: #fff;
}

.header-nav {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}

.header-nav-logo {
  width: 100px;
}

.header-nav-logo img {
  max-width: 100%;
  max-height: 100%;
}

.header-nav-list {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.header-nav-list li {
  margin: 0 20px;
  display: inline-block;
}

.header-nav-list li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgba(255, 87, 87);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  position: relative;
  padding: 20px 0;
}

.header-nav-list li a,
.header-nav-list li a:after,
.header-nav-list li a:before {
  transition: all 0.5s;
}

.header-nav-list li a:hover {
  color: #555;
}

.header-nav-list li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #333;
  height: 1px;
}
.header-nav-list li a:hover:after {
  width: 100%;
}

main {
  height: 85vh;
}

/* About Page */
.about-us-main-article {
  width: 100%;
  height: 100%;
  background: url("/src/images/aboutUs.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 0px 1200px rgba(0, 0, 0, 0.803) inset;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us-main-article h1 {
  font-size: 65px;
  text-shadow: 2px 1px #ffffff;
}
.about-us-main-article h3 {
  text-transform: uppercase;
  font-style: italic;
  color: rgba(255, 87, 87);
  text-shadow: 2px 1px #ffffff;
  margin: 10px 0 30px 0;
}

.about-us-main-article p {
  line-height: 27px;
  max-width: 1200px;
  font-size: 20px;
  text-shadow: 2px 2px 15px #000000;
}

/* Sign In Page */

.main-sign-in,
.main-join {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sign-in-container,
.main-join-container {
  width: 50vw;
  height: 60vh;
  display: flex;
}

.main-sign-in-card-one {
  border-radius: 15px 0px 0px 15px;
  padding: 60px 30px;
  width: 40%;
  position: relative;
}

.main-sign-in-card-one,
.main-join-card-two {
  background-color: #ffffff;
  height: 100%;
}

.main-sign-in-card-one h1,
.main-join-card-two h1 {
  text-transform: uppercase;
  color: #24262b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sign-in-container-div-form,
.main-join-container-div-form {
  text-align: center;
}

.main-sign-in-container-div-form-input,
.main-join-container-div-form-input {
  margin: 20px auto;
}

.main-sign-in-container-div-form input,
.main-join-container-div-form input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #9f9f9f;
  margin: 0 auto;
}

.main-sign-in-container-div-btn {
  bottom: 100px;
  left: 25%;
}

.main-sign-in-container-div-btn,
.main-join-container-div-btn {
  padding: 10px 35px;
  background-color: rgba(255, 87, 87);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  position: absolute;
}

.main-sign-in-container-div-btn:hover,
.main-join-container-div-btn:hover,
.main-home-section-article-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 87, 87);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.425);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}

.main-sign-in-card-two {
  width: 60%;
  height: 100%;
  background: url("/src/images/forum-img.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 0px 1200px rgba(255, 87, 87, 0.603) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
}

.main-sign-in-card-two h1 {
  color: #fff;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

/* Join Page */

.main-join-card-one {
  width: 40%;
  background: url("/src/images/join-img.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 0px 1200px rgba(255, 87, 87, 0.603) inset;
  border-radius: 15px 0 0 15px;
}

.main-join-card-two {
  padding: 20px;
  width: 60%;
  border-radius: 0 15px 15px 0;
  position: relative;
}

.main-join-card-two h1 {
  font-size: 28px;
}

.main-join-card-two p {
  color: rgb(80, 80, 80);
  text-align: center;
}

.main-join-container-div-btn {
  position: absolute;
  bottom: 10%;
  left: 35%;
}

.main-join-container-div-icons {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 65px;
}
.main-join-container-div-icons i {
  font-size: 30px;
  color: rgba(255, 87, 87);
  transition: all 0.3s ease 0s;
}

.main-join-container-div-icons i:hover {
  transform: translateY(-7px);
}

/* Home page */

.main-home {
  height: 1000vh;
  width: 100%;
}

.slideshow-container {
  width: 667;
  height: 271;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  height: 550px;
  /* opacity: 0.6; */
  filter: brightness(50%);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade-text {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 230px;
  width: 100%;
  text-align: center;
}

.fade-text h1 {
  font-size: 65px;
}

.fade-text h2 {
  font-size: 35px;
}

.fade-text h1,
.fade-text h2,
.fade-text p {
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.fade-text p {
  font-size: 21px;
  color: #ffffff;
  margin: 20px 250px 0 250px;
}

.fade .numbertext {
  color: #2d0e0e;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

.main-home-section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}

.main-home-section-article {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-article-one {
  width: 60%;
  background-image: url("./images/main-home-section-article-one-img.jpg");
  background-size: cover;
  text-align: center;
  color: #24262b;
}

.section-article-one h1 {
  font-size: 55px;
}

.section-article-one h3 {
  font-size: 27px;
  color: rgba(255, 87, 87);
  text-shadow: 1px 1px #24262b;
}

.section-article-one p {
  font-size: 20px;
  padding: 0 15px;
  margin-top: 20px;
}

.main-home-section-article-btn {
  padding: 10px 35px;
  background-color: rgba(255, 87, 87);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  margin: 35px auto;
}

.section-article-two {
  width: 40%;
  background-color: #24262b;
  color: white;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
}

.article-div-one {
  margin-right: 20px;
}

.main-home-section-article-div-icons:nth-child(1) {
  margin-bottom: 100px;
}

.main-home-section-article-div-icons i,
.main-home-section-article-div-icons h1,
.main-home-section-article-div-icons p {
  text-shadow: 3px 3px black;
}

.main-home-section-article-div-icons i {
  font-size: 36px;
}

.main-home-section-article-div-icons h1 {
  color: rgba(255, 87, 87);
}

.main-home-section-article-div-icons p {
  font-size: 16px;
}
.subheading {
  line-height: 1.15789;
  font-size: 38px;
  margin-top: 6px;
  margin-bottom: 0;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-weight: 700;
  color: #45484d;
  box-sizing: border-box;
  padding: 50px;
}

.responsive-tabs-container-catalogHome {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  text-align: center;

}

.responsive-tab-catalogHome {

  position: relative;
  bottom: -1px;
  text-align: -webkit-match-parent;
  z-index: 10;
  padding: 0 0 8px 0;
  margin: 10px 30px 0 0;
  color: #545454;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: .33s all ease;
  /* text-align: center; */
  margin-top: 10px;

  color: #f36561;



}

.responsive-tab-button {
  background-color: rgb(221, 221, 221); 
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: all 0.3s ease 0s;
  border-radius: 30px;

}

.responsive-tab-button:focus {

  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #221313;
  -moz-box-shadow: inset 0px 0px 5px #251515;
  box-shadow: inset 0px 0px 5px #291414;
  outline: none;
}

.catalogHome {

  flex-grow: 1;
  display: flex;
  /* -webkit-flex-direction: column; */

  flex-direction: row;
  /* -webkit-flex-wrap: nowrap; */
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* -webkit-align-items: center; */


  /* -webkit-justify-content: space-between; */
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  padding: 25px 20px 25px;
  margin-bottom: 30px;
  background: #fff;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  grid-gap: 16px;
}

.catalogHome-cards-container {
  border-radius: 50px !important;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding: 50px 20px 30px;
  display: flex;


  flex-direction: row;
  justify-content: space-around;
  position: relative;
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
  box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 10%);

  border-color: #4bbfd8;
  will-change: transform, opacity;
  animation-duration: 1750ms;
  border-width: 9px;

}

.product-image {
  height: 200px;
  overflow: hidden;
  border-radius: 50px !important;
}

.link {
  display: inline;
  background-color: transparent;
  text-decoration: none;
  transition: .33s all ease-out;

}
.link:focus{
  color: #f36561;
}
.link:active {
  color: #943c3c;
}

.btn {

  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 30px;
}

.btn:hover {
  background-color: #c03c28;
  color: rgb(231, 219, 219);
}

.bold-text {

  font: bold;
  font-size: large;
  color: white;
  font-size: 17px;
}
/* preloader*/
#preloader {
  background: #ffffff url(./images/Preloader.gif) no-repeat center center;
  background-size: 40%;
  height: 98vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: 0.5s all linear
}
/* footer */

.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer-container-row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-container-row-p {
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}
